.filter-card {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #e6ebee;
}

.group-form {
  padding-top: 10px;
  border-top: 1px solid #d9dae2;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: blueviolet;
}
