body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-main-color {
  background: rgb(70, 22, 115);
  /* background: blueviolet; */
  /* background-color: rgb(106 34 215); */
}

/* footer position */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
/* footer position ENDS  */

.app-btn {
  border: none;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  min-height: 30px;
  min-width: 50px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}

.app-btn:hover {
  opacity: 80%;
}

/*======================
    404 page
=======================*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(assets/gif/no-match.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
.backdrop--loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
/*======================
    404 page Ends
=======================*/

.disable-btn {
  /* background-color: #dee2e6 ; */
  opacity: 50%;
  cursor: not-allowed;
}

.custom-outline-btn {
  background-color: white !important;
  color: blueviolet !important;
  border: 1px solid blueviolet !important;
}

.custom-outline-btn:hover {
  background-color: blueviolet !important;
  color: white !important;
  opacity: 100% !important;
}

.custom-fill-btn {
  background-color: blueviolet !important;
  color: white !important;
  border: 1px solid blueviolet !important;
}

.custom-fill-btn:hover {
  background-color: white !important;
  color: blueviolet !important;
  opacity: 100% !important;
}

.border-blueviolet {
  border-color: blueviolet !important;
}

.form-check-input {
  border: 1px solid #9d9d9e;
  box-shadow: none !important;
}

.empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cbd5e1;
  color: #6b7280;
}

.required-input:after {
  content: ' *';
  color: red;
}

.bg-blueviolet {
  background-color: blueviolet;
}
