.body {
  margin: 0;
}

/* Product card */
.product-card {
  height: 100%;
  border: 1px solid #e9eaf1;
}

.product-card:hover {
  /* transform: scale(1.01) !important; */
  /* transition: 0.3s; */
  box-shadow: 0px 0px 10px 0px rgba(156, 152, 148, 0.5);
}

.product-card-header {
  background-color: transparent;
  border: none;
  cursor: pointer;
  object-fit: cover;
  min-height: 235px;
}

.product-card-footer {
  border-color: #e9eaf1;
  background-color: transparent;
}

.add-cart-button {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px;
  background-color: #efedf1;
  color: blueviolet;
  width: 100%;
  border: none !important;
}

.add-cart-button:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  opacity: 100%;
}

.bg-custom-blueviolet {
  background-color: rgb(190, 126, 250);
}

.add-cart-button-disabled {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px;
  background-color: #efedf1;
  color: rgb(181, 122, 237);
  width: 100%;
  border: none !important;
  cursor: not-allowed !important;
}

.add-cart-button-disabled:hover {
  opacity: 100%;
}
/* Product card ENDS */

.left-filter-card {
  min-width: 20%;
}

.product-container {
  min-width: 80%;
}

@media (max-width: 1200px) {
  .product-container {
    width: 100%;
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-height-60vh {
  min-height: 60vh;
}

.min-height-20vh {
  min-height: 20vh;
}

/* Product details */
.product-info {
  font-size: 0.9rem;
}

.product-spec {
  color: blueviolet;
  font-weight: bold;
  background-color: #f3f1f3;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.product-spec-detail {
  padding: 0.5rem;
  border-top: 1px solid #f4edf6;
  overflow-wrap: break-word;
}

.thumbnail {
  width: 70px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.thumbnail:hover {
  opacity: 1;
}

.thumbnail-selected {
  opacity: 1;
}

.img-section {
  min-width: 40%;
}

.feature-section {
  min-width: 60%;
}

.custom-tabs {
  border: none !important;
}
.custom-tab .nav-link {
  border: none !important;
  background-color: blueviolet !important;
  margin: 0px !important;
  border-radius: none !important;
}
/* Product details ENDS */

@media (min-width: 992px) {
  .review-form {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .review-form {
    width: 100%;
  }
}

/* Upload image */
.upload-box {
  width: 120px;
  height: 120px;
  border: 2px dashed #cbd5e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  color: #6b7280;
}

.image-preview {
  position: relative;
  width: 120px;
  height: 120px;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-btn {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 5px 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  display: none;
}

.image-preview:hover .remove-btn {
  display: block;
}
/* Upload image ENDS */

.icon-btn {
  border: none;
  border-radius: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;
  min-width: 0 !important;
  cursor: pointer;
  background-color: transparent !important;
  color: white;
}
